* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {
    display: flex;
    flex-direction: column;
}

.clientkeylogo {
    height: 18vh;
    width: 10vw;
    padding-top: 1vh;
}

/* .logocabeca {
    height: auto;
    width: 25%;
    padding-top: 9vh;
} */

.botaonovocl{
    height: 5vh;
    width: 20%;
    margin-top: 13vh;
    border-radius: 9px;
    border: none;
    background-color: #D9D9D9;
    transition: background-color 0.3s, color 0.3s;
}

.botaonovocl:hover {
    background-color: #ccccff;
    color: #ffffff;
}

.topo {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #5C78DB;
    height: 10vh;
    width: 100vw;
}
.segundaparte {
    /* background-color: green; */
    height: 80vh;
    width: 100vw;
    display: flex;
}
.lateral {
    /* background-color: #D9D9D9; */
    width: 25vw;
    height: 90vh;
}

.interiorlateral{
    background-color: #D9D9D9;
    width: 20vw;
    height: 83vh;
    margin-left: 2.5vw;
    margin-top: 3.3vh;
    padding-top: 1vh;
}


/* ~~~~~~~~~~PARTE PRINCIPAL~~~~~~~~~~ */
.principal {
    /* background-color: yellow; */
    width: 75vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.cima {
    /* background-color: purple; */
    height: 20vh;
    width: 72.3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28vw;
}

.baixo {
    /* background-color: orange; */
    height: 70vh;
    width: 75vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#barrapesquisa {
    margin-top: 13vh;
    padding: 6px;
    /* font-size: 1rem; */
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    background-color: #D9D9D9;
    width: 20vw;
}
  
#barrapesquisa::placeholder {
    color: #000000;
}
  
#barrapesquisa:focus {
    border-color: #333;
}



.cimalateral{
    background-color: #212121;
    height: 36vh;
    width: 16vw;
    display: flex;
    margin-left: 2.1vw;
    margin-top: 2.5vh;
}

.baixolateral{
    background-color: #212121;
    height: 36vh;
    width: 16vw;
    display: flex;
    margin-left: 2.1vw;
    margin-top: 4.5vh;
}

.uservazio{
    height: 5vh;
    width: 3vw;
}

.interiorbaixo{
    height: 67.3vh;
    width: 72.3vw;
    background-color: #D9D9D9;
}